.about-box {
	background:
    linear-gradient(#6B9EFC, #4b7fd1);
	display: grid;
	grid-template-columns: 8rem repeat(3, 1fr) 8rem;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	color: white;
	padding-bottom: 5rem;
	text-align: center;
}


.top-wave {
  position: relative;
	top: 10px;
}

.about-title {
	grid-area: 1 / 2 / 2 / 5;
	font-size: calc(16px + (26 - 20) * ((100vw - 300px) / (1600 - 300)));
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.vid-desc {
	grid-area: 2 / 2 / 3 / 3;
	padding: 2rem 2rem;
	cursor: pointer;
}

.illu {
	grid-area: 2 / 3 / 3 / 4;
	padding: 2rem 2rem;
	cursor: pointer;
}

.doc-code {
	grid-area: 2 / 4 / 3 / 5;
	padding: 2rem 2rem;
	cursor: pointer;
}

.probs {
	grid-area: 3 / 2 / 4 / 3;
	padding: 2rem 2rem;
	cursor: pointer;
}

.about-5 {
	grid-area: 3 / 3 / 4 / 4;
	padding: 2rem 2rem;
	cursor: pointer;
}

.about-6 {
	grid-area: 3 / 4 / 4 / 5;
	padding: 2rem 2rem;
	cursor: pointer;
}

h4 {
	font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.icons {
	width: 30%;
}

.introParagraph {
	text-align: initial;
}

@media screen and (max-width: 1024px) {
	.about-box{
		display: flex;
		flex-direction: column;
		padding: 0 4rem;
	}
	.icons {
		width: 20%;
	}
}

@media screen and (max-width: 780px) {}