.about-box {
	display: grid;
	grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
	grid-template-rows: repeat(3, 0.25fr);
	grid-column-gap: 5rem;
	grid-row-gap: 5rem;
  text-align: center;
  padding: 5rem 0;
  margin-top: 2rem;
}

.about-title {
	padding: 5rem 0;
	grid-area: 1 / 2 / 2 / 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
}

.about-title h2 {
  color: #373737;
	font-size: calc(30px + (26 - 22) * ((100vw - 300px) / (1600 - 300)));
}

.topic-title {
	display: flex;
	align-items: left;
	text-align: left;
	justify-content: left;
	flex-direction: column;
}

.topic-title h4 {
  margin: 2rem 0;
  color: #373737;
}

.about-p{
  margin: 0;
  padding: 0;
  color: #373737;
}

.vid-desc {
	grid-area: 2 / 2 / 3 / 3;
	margin: 0;
  text-align: left;
}

.illu {
	grid-area: 2 / 3 / 3 / 4;
	margin: 0;
	text-align: left;
}

.doc-code {
	grid-area: 2 / 4 / 3 / 5;
	margin: 0;
	text-align: left;
}

.probs {
	grid-area: 3 / 2 / 4 / 3;
	margin: 0;
	text-align: left;
}

.about-5 {
	grid-area: 3 / 3 / 4 / 4;
	margin: 0;
	text-align: left;
}

.about-6 {
	grid-area: 3 / 4 / 4 / 5;
	margin: 0;
	text-align: left;
}

.icons {
	width: 15%;
}

.introParagraph {
	text-align: initial;
}

@media screen and (max-width: 1348px) {
	.about-box {
		display: grid;
		grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
		grid-template-rows: repeat(4, .5fr);
	}
	.about-title {
		grid-area: 1 / 2 / 2 / 4;
	}
	.vid-desc {
		grid-area: 2 / 2 / 3 / 3;
	}
	.illu {
		grid-area: 2 / 3 / 3 / 4;
	}
	.doc-code {
		grid-area: 3 / 2 / 4 / 3;
	}
	.probs {
		grid-area: 3 / 3 / 4 / 4;
	}
	.about-6 {
		grid-area: 4 / 2 / 5 / 3;
	}
	.about-5 {
		grid-area: 4 / 3 / 5 / 4;
	}
}

@media screen and (max-width: 1024px) {
	.about-box {
		display: flex;
		flex-direction: column;
		padding: 0 4rem;
  }
  .topic-title{
    align-items: center;
  }
  .about-p{
    text-align: center;
  }
	.vid-desc {
		width: 60%;
		margin: 0 auto;
	}
	.illu {
		width: 60%;
		margin: 0 auto;
	}
	.doc-code {
		width: 60%;
		margin: 0 auto;
	}
	.probs {
		width: 60%;
		margin: 0 auto;
	}
	.about-6 {
		width: 60%;
		margin: 0 auto;
	}
	.about-5 {
		width: 60%;
		margin: 0 auto;
	}
	.icons {
		width: 15%;
	}
	/* .introParagraph {
    width: 80%;
    margin: 0 auto;
  } */
}
