.curriculum-box {
  margin-top: 10rem;
  padding: 1rem 1rem;
  height: 80vh;
	display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
	align-items: center;
	justify-content: center;
  justify-items: center;
}

.curriculum-title {
  grid-area: currTitle;
	grid-row: 1/1;
	grid-column: 2;
  text-align: center;
  background-color: #56C1E2;
  padding: 2rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  /* padding: 20rem; */
  /* background-image: url("../../assets/curr-blob.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; */
}

/* ---Curr Blob died Sept 11, 2020--- */
/* .curriculum-title img{
  display: block;
} */

h2 {
	font-size: 2rem;
}

.curriculum-body {
	grid-area: curriculum-body;
  display: flex;
  grid-row: 2/2;
  grid-column: 1/4;
  justify-content: center;
  background: 
  linear-gradient(
		to bottom left, transparent 20%,
		#4b7fd1,
		#56C1E2
  ),
  linear-gradient(
    to top left,
    #fff,
		#9CE2FE
  )
  ;
  padding: 3rem 3rem;
  border-radius: 1rem;
  text-align: center;
}

.curr-topics{
  margin: 1rem;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
}

.checked-curr{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checked-curr li{
  display: flex;
  align-items: center;
  margin: .5rem 0;
}

.check{
  width: 15%;
}

.curr-grey-blob{
  grid-column: 3;
}