.footer-logo {
	width: 40%;
}

.footer-wave {
	position: relative;
	top: 10px;
}

.footer-container {
	background-color: #6b9efc;
	display: grid;
	grid-template-columns: 0.5fr repeat(5, 1fr) 0.5fr;
	grid-template-rows: 1fr;
	grid-column-gap: 4rem;
	grid-row-gap: 0px;
	color: white;
	text-align: left;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.footer-title{
  font-weight: 600;
}

.footer-box1 {
	grid-area: 1 / 2 / 2 / 4;
}

.footer-box2 {
	grid-area: 1 / 4 / 2 / 5;
}

.footer-box3 {
	grid-area: 1 / 5 / 2 / 6;
}
