.navigation {
  display: flex;
  width: 78%;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  /* align-content: center; */
}
.navigationLogo-box {
  width: 50%;
}

.navigationLogo{
  width: 40%;
}

.navigationLinks-box{
width:50%;
}
.navigationLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.navLinkActive {
  color: #1e6ae3;
}
